/* CSS HEX */
:root {
  --ash-gray: #cad2c5ff;
  --cambridge-blue: #84a98cff;
  --hookers-green: #52796fff;
  --dark-slate-gray: #354f52ff;
  --charcoal: #2f3e46ff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ash-gray);
  font-family: "Google Sans Code", sans-serif;
}

h1 {
  color: var(--ash-gray);
  margin: 0px 0px;
  padding: 8px;
}

p {
  color: var(--cambridge-blue);
  margin: 0px 0px;
  padding: 8px;
}

button {
  width: 100%;
  height: 100%;
  color: var(--charcoal);
  background-color: var(--ash-gray);
  border: 8px solid var(--hookers-green);
  border-radius: 16px;
  padding: 8px 12px;
  font-family: "Google Sans Code", sans-serif;
  font-weight: bold;
}

button:active {
  color: var(--ash-gray);
  background-color: var(--charcoal);
}

#random-el {
  color: white;
}

#gen,
#passwd {
  width: 50%;
  background-color: var(--charcoal);
  border: 8px solid var(--hookers-green);
  border-radius: 16px;
  margin: 0px 0px;
  padding: 8px;
}
